:root{
    --body-color: #FEF8EB;
    --nav-color: #F1E7CF;
    --p-color: #000;
    --heading-color: #000;
    --highlight-color: #A31F17;
}

body{
    background-color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: var(--body-color);
}

main {
    padding: 2rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: auto;
}

a{
    text-decoration: none;
    color: var(--p-color);
    font: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration: underline;
    color: var(--highlight-color);
}

.introduction, .starters{
    background-color: var(--highlight-color);
    width: auto;
    max-width: 100%;
}

header .introduction {
    text-align: left;
    padding-left: 10px
  }

header .introduction p, header .starters p {
    font-weight: bold;
}

header .starters{
    text-align: center;
    padding: 10px;
}

.NOAA, .affinity, .sweetli { 
    position: relative;
    width: 100%; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* White with 60% opacity */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;             /* Start fully transparent */
    transition: opacity 0.3s ease-in-out;
    font-size: 40px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project-card {
    width: 500px;  
    height: 250px;          /* Makes the image responsive within its container */
    object-fit: cover;      /* Ensures the image covers the area, cropping as needed */
    border-radius: 10px;    /* Rounded corners */
    display: block;         /* Block display to allow margin auto */
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);   /* Optional: adds shadow for depth */
}

.project-info {
    text-align: center;     /* Centers the text inside this container */
    width: 100%;            /* Ensure this takes the full width */
}

.intro-photo {
    width: 200px;
    margin-left: 50%;
}

.social-links {
    padding-top: 20px;
}

.social-links img {
    width: 32px;
    margin: 0 10px;
}

.main-nav {
    list-style: none;
    text-align: right;
    background-color: var(--nav-color);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px 15px 15px
}

.main-nav li {
    display: inline;
    margin-right: 20px;
}

.main-nav .current-page a {
    color: var(--highlight-color);
    font-weight: bold;
}

.main-nav li a{
    text-decoration: none;
    color: var(--p-color);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav li a:hover{
    text-decoration: underline;
    color: var(--highlight-color);
}


h1, h2{
    font-family: ziclets, sans-serif;
    font-style: normal;
}

h1{
    font-weight: 500;
    font-size: 40px;
    color: var(--body-color);
}

h3, h4, p{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
    color: var(--highlight-color);
}

h3{
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
}

h4{
    font-size: 17px;
}

p{
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 35px;
}

.button{
    background-color: var(--nav-color);
    color: var(--highlight-color);
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.button:hover{
    background-color: var(--nav-color);
    color: var(--highlight-color);
}

.contact-info a{
    color: var(--p-color);
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.visually-hidden:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
    z-index: 10000; 
    outline: none; 
    background-color: #fff; 
    color: #000; 
    font-size: 1em; 
    padding: 10px; 
    border: 2px solid #000; 
    top: 0; 
    left: 0; 
}

li, ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.about {
    display: flex;
    align-items: flex-start; /* Aligns the image and text vertically */
    margin-bottom: 20px;
}

.about img {
    height: 400px;
    width: 230px;
    object-fit: cover;
    margin-right: 20px; /* Adds some space between the image and the text */
    border-radius: 10px;
}

.about-text {
    display: block;
    max-width: calc(100%-255px);
}

.about p {
    margin: 0; /* Removes default margin from headings and paragraphs */
}

.passions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content */
    justify-content: center;
    background-color: var(--highlight-color);
    border-radius: 10px;
    padding: 1em;
    color: var(--body-color);
    margin: 20px;
    box-sizing: border-box;
    width: 100%;
}

.passions ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
    list-style-type: disc;
    padding: 1em; /* Resets default padding */
    width: calc(100%-2em);
    box-sizing: border-box;
    column-gap: 3em;
}

.passions li {
    margin: 10px 0; /* Adds some space around each list item */
    position: relative;
}

.peak h2{
    text-align: center;
    margin: 10px;
}

.peak-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 1em;
    max-width: 100%;
    margin: auto;
}

.peak-images img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.baking, .crochet, .makeup {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
    gap: 10px; /* Adjust the gap between items as needed */
    margin-bottom: 2em; /* Space after each section */
}

.baking h2, .crochet h2, .makeup h2 {
    grid-column: 1 / -1; /* Centers the title over the grid */
    text-align: center;
}

.baking p, .crochet p, .makeup p {
    grid-column: 1 / -1; /* Ensures the paragraph spans all columns */
    text-align: center; /* Center the text of the paragraph */
    margin-bottom: 1em; /* Space before the images start */
}

.baking img, .crochet img, .makeup img {
    width: 100%; /* Full width of the column */
    aspect-ratio: 1 / 1; /* Makes the images square */
    object-fit: cover; /* Ensures the image covers the square */
    border-radius: 10px;
}

footer {
    background-color: var(--nav-color);
    color: var(--p-color);
    text-align: center;
    padding: 20px 0;
}